.content {
    background-color: black;
    color: white;
}

* {
    margin: 0;
    padding: 0;
}

td {
    text-align: center;
}

#box {
    background-color: #cc0000;
    color: #000000;
    font-weight: bold;
    text-align: center;
    padding: 3px 0 3px 0;
}

#container {
    height: 100%;
    vertical-align: middle;
    width: 100%;
}

#clock {
    fill: #000000;
    stroke: #ffffff;
    stroke-linecap: round;
    position: absolute;
    top: 1%;
    left: 2%;

}

#h_pointer {
    stroke-width: 5px;
}

#s_pointer {
    stroke-width: 1px;
}

#m_pointer {
    stroke-width: 3px;
}

#numbers {
    font-family: sans-serif;
    font-size: 80%;
}

.weather {
    position: absolute;
    top: 2%;
    right: 2%;
}

.calendar {
    border-color: white;
    border-width: 2px;
    border-style: solid;
    height: 220px;
    width: 100%;
    position: absolute;
    top: 77%;
    display: table;
}

.day {
    border-color: white;
    border-width: 1px;
    border-style: solid;
    height: 220px;
    width: 20%;
    text-align: center;
    display: table-cell;
}

.greeting {
    position: absolute;
    top: 92%;
    text-align: center;
    width: 100%;
}